//Esquema de Colores
    //Primer esquema
    $white: #FFFFFF;
    $platinum: #E6E7E7;
    $light_gray: #D1D1D1;

    //Segundo esquema
    $fuzzy_wuzzy: #E56353;
    $ruddy_pink: #D76C69;
    $spanish_pink: #ECBCBA;

    //Tercer esquema
    $eerie_black: #121619;
    $raisin_black: #222323;
    $nickel: #6c6E70;

// Tipografía
    $roboto: 'Roboto', sans-serif;
    $playfair_display: 'Playfair Display', serif;

// Peso de fuentes
    $font_light: 300;
    $font_regular: 400;
    $font_black: 900;

// Estilo de fuentes
    $italic: italic;
    $normal: normal;

// Tamaños de fuentes
    $xx-large: 70px;
    $x-large: 30px;
    $large: 18px;
    $medium: 16px;
    $small: 12px;